<html>
  <head>
    <title>Welcome!</title>
  </head>
  <body>
    <h1>Welcome, {{name}} {{lastName}}!</h1>
    <p>We are excited to have you on board.</p>
    <p>Click <a href='{{loginUrl}}'>here</a> to log in to your account.</p>
  </body>
</html>